@charset "utf-8";

@use "variables" as *;

.info-container .main-visual {
  width: 100%;
  max-width: 1000px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: $bp-sp) {
  .info-container .main-visual {
    border-radius: 10px;
  }
}

.info-container h2,
.info-container h3,
.info-container h4,
.info-container h5,
.info-container h6 {
  color: var(--color-muted);
  font-size: var(--font-size-small);
  padding: 5px;
  border-bottom: 1px solid var(--color-border);
  display: inline-block;
}

.caption-detail p {
  padding: 5px;
}

.design-comp {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.design-comp img {
  width: 100%;
  max-width: 1000px;
  margin: 25px;
}

.design-comp .pc-size {
  width: 100%;
  max-width: 670px;
  height: 100%;
}

.design-comp .sm-size {
  width: 100%;
  max-width: 200px;
  height: 100%;
}

.design-comp .portfolio_border {
  border: 1px solid var(--color-border);
}

@media screen and (min-width: 768px) and (max-width: $bp-tab) {
  .design-comp .pc-size {
    max-width: 300px;
  }

  .design-comp .sm-size {
    max-width: 200px;
  }
}

.info-container {
  width: 100%;
}

.caption-detail {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.info-container .only-image {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
